IS_TP2/src/META-INF/wsdl/localhost_8080/Wolf_control/Wolf_control.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/updateSchema">

<xs:complexType name="tPosition">
<xs:sequence>
<xs:element name="xx" type="xs:int"/>
<xs:element name="yy" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>