IS_TP2/src/META-INF/wsdl/localhost_8080/Cow_control/Cow_control.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://control_package/" xmlns:ns1="http://xml.netbeans.org/schema/updateSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://control_package/">

<xs:import namespace="http://xml.netbeans.org/schema/updateSchema" schemaLocation="http://localhost:8080/Cow_control/Cow_control?xsd=1"/>

<xs:element name="JAXBException" type="tns:JAXBException"/>

<xs:element name="cow_input" type="tns:cow_input"/>

<xs:element name="cow_inputResponse" type="tns:cow_inputResponse"/>

<xs:element name="distance" type="tns:distance"/>

<xs:element name="distanceResponse" type="tns:distanceResponse"/>

<xs:complexType name="distance">
<xs:sequence>
<xs:element name="arg0" type="ns1:tPosition" minOccurs="0"/>
<xs:element name="arg1" type="ns1:tPosition" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="distanceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cow_input">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cow_inputResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="JAXBException">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="linkedException" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>
</xs:schema>